body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #444;
}

input {
  display: block;
  width: calc(100% - 40px);
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#addBookmarkBtn {
  background-color: #00ff15;
  color: white;
}

#addBookmarkBtn:hover {
  background-color: #00cc12;
}

#saveBtn {
  background-color: #0056b3;
  color: white;
}

#saveBtn:hover {
  background-color: #003f80;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 10px;
  margin: 5px 0;
  background: #f9f9f9;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li:hover {
  background-color: #e9e9e9;
}

button.delete {
  background-color: #00ff15;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button.delete:hover {
  background-color: #00cc12;
}

a {
  color: chocolate;
  font-size: 16px;
  text-decoration: none;
  flex: 1;
}
